
@{
    ViewBag.Title = "Задачи";
    ViewBag.MainTitle = "Редактирование задач";
    ViewBag.MainDefinition = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Просмотр", "PageShow")</li>
    <li>@Html.ActionLink("Добавление", "Add")</li>
</ul>

